* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

.task-input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.add-btn {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: end;
}

.add-btn:hover {
    background-color: #155bb5;
}

.task-list {
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f7ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task span {
    font-size: 16px;
}

.delete-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d9534f;
}
